.markedContent span::before {
    content: '';
    position: absolute;
    inset: 0;
    top: -10px;
    bottom: -10px;
}

.markedContent > span:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}

#viewer.hide .markedContent span::before  {
    pointer-events: none;
    background-color: transparent;
}

span[role="presentation"]::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0;
    top: -10px;
    bottom: -10px;
}

span[role="presentation"]:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
} 